$primary: #45819d;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #eee;
}

.landing {
    height: 100vh;
    background-image: url("../assets/tennessee.jpeg");
    background-size: cover;
    background-position: center;

    &__title {
        font-size: 8vw;
        letter-spacing: 2vw;
        color: white;
        text-align: center;
    }

    &__sub-title {
        letter-spacing: 2vw;
        font-size: 4vw;
        color: white;
        text-align: center;
    }

    &__button {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, 0%);
        &:hover {
            color: $primary;
        }
    }
}

.about {
    &__img {
        width: 100%;
        max-width: 350px;
        border-radius: 50%;
    }

    &__text {
        @include font-size(1.6rem);
    }

    .fab {
        &:hover {
            color: $primary;
        }
    }
}

.wolf {
    background-color: $primary;
}

.parallax-window {
    height: 100vh;
    background: none;
}

.parallax-img {
    height: 100vh;
    background-image: url(../assets/great_smoky_mountains.jpeg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}
